<a href="https://colab.research.google.com/github/neelvanani3/Datascience_Assessment/blob/main/Assessment2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Spam SMS decection

In [ ]:
import matplotlib.pyplot as plt
import sklearn.metrics as sm
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
Dataset = pd.read_csv('/content/SMSSpamCollection.csv' , on_bad_lines='skip')

In [ ]:
Dataset.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
2274,ham\tCold. Dont be sad dear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3734,ham\tOld Orchard near univ. How about you?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3965,ham\tIf e timing can,then i go w u lor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4429,ham\tAiyar dun disturb u liao... Thk u have lo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737,ham\tThanks for looking out for me. I really a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Dataset.shape

(5574, 14)

In [ ]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   v1           5574 non-null   object
 1   v2           1318 non-null   object
 2   Unnamed: 2   369 non-null    object
 3   Unnamed: 3   141 non-null    object
 4   Unnamed: 4   62 non-null     object
 5   Unnamed: 5   40 non-null     object
 6   Unnamed: 6   22 non-null     object
 7   Unnamed: 7   8 non-null      object
 8   Unnamed: 8   6 non-null      object
 9   Unnamed: 9   2 non-null      object
 10  Unnamed: 10  2 non-null      object
 11  Unnamed: 11  1 non-null      object
 12  Unnamed: 12  1 non-null      object
 13  Unnamed: 13  1 non-null      object
dtypes: object(14)
memory usage: 609.8+ KB

In [ ]:
Dataset.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],inplace=True)

In [ ]:
#rename the columns
Dataset.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [ ]:
Dataset.sample(5)

,target,text
3867,ham\tTheoretically yeah,he could be able to come
2053,spam\tCall 09094100151 to use ur mins! Calls c...,just GBP5/month. AOM Box61
3991,spam\t(Bank of Granite issues Strong-Buy) EXPL...,NaN
2804,spam\tFreeMsg>FAV XMAS TONES!Reply REAL,NaN
492,spam\tCongrats! 1 year special cinema pass for...,Matrix3

In [ ]:
Dataset.isnull().sum()

target       0
text      4256
dtype: int64

In [ ]:
Dataset.dropna(inplace=True)

In [ ]:
Dataset.isnull().sum()

target    0
text      0
dtype: int64

In [ ]:
Dataset.shape

(1318, 2)

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
Dataset['target'] = encoder.fit_transform(Dataset['target'])
Dataset.head()

    target                                               text
0      192   crazy.. Available only in bugis n great world...
4      488                        he lives around here though
5      858                                       £1.50 to rcv
10     370                        k? I've cried enough today.
11     900  000 pounds txt> CSH11 and send to 87575. Cost ...

In [ ]:
Dataset['target'].value_counts()

609    52
50     15
437    14
752    11
599    10
       ..
211     1
199     1
374     1
411     1
567     1
Name: target, Length: 992, dtype: int64

In [ ]:
Dataset.head()

    target                                               text
0      192   crazy.. Available only in bugis n great world...
4      488                        he lives around here though
5      858                                       £1.50 to rcv
10     370                        k? I've cried enough today.
11     900  000 pounds txt> CSH11 and send to 87575. Cost ...

In [ ]:
Dataset['target'].value_counts()

609    52
50     15
437    14
752    11
599    10
       ..
211     1
199     1
374     1
411     1
567     1
Name: target, Length: 992, dtype: int64

In [ ]:
# input variable
X = Dataset.iloc[:,:-1].values
Y = Dataset.iloc[:,-1].values

In [ ]:
# split dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state= 5)

In [ ]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [ ]:
# Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()
nb_classifier.fit(X_train, Y_train)
y_pred_nb = nb_classifier.predict(X_test)
accuracy_score(Y_test, y_pred_nb)

0.20454545454545456

In [ ]:
# Train with Standard scaled Data
nb_classifier2 = GaussianNB()
nb_classifier2.fit(X_train_sc, Y_train)
y_pred_nb_sc = nb_classifier2.predict(X_test_sc)
accuracy_score(Y_test, y_pred_nb_sc)

0.20454545454545456

In [ ]:
# Support vector classifier
from sklearn.svm import SVC
svc_classifier = SVC()
svc_classifier.fit(X_train, Y_train)
y_pred_scv = svc_classifier.predict(X_test)
accuracy_score(Y_test, y_pred_scv)

0.05303030303030303

In [ ]:
# Train with Standard scaled Data
svc_classifier2 = SVC()
svc_classifier2.fit(X_train_sc, Y_train)
y_pred_svc_sc = svc_classifier2.predict(X_test_sc)
accuracy_score(Y_test, y_pred_svc_sc)

0.05303030303030303